.custom_button_box {
    background-color: #DAB;
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px #DAB;
}
.custom_button_box_inner:hover {
    background-color: #999;
}
.custom_button_box_inner::selection {
    background: none;
    color:none;
} /* It won't highlight the button text.

